<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}?{{ site.time | date: '%s' }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <script defer src="//use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="{{ site.image | absolute_url }}?{{ site.time | date: '%s' }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:title" content="summary" />
  <meta name="twitter:domain" content="haydenkLinktree" />
  <meta name="twitter:image" content="{{ site.image | absolute_url }}?{{ site.time | date: '%s' }}" />
</head>
